<!DOCTYPE html>
<html>
<head>
    <title>Face Attendance System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🎥 Face Attendance System</h1>

    <div class="container">

        <!-- Camera -->
        <div class="video-container">
            <img src="{{ url_for('video') }}" width="600">
        </div>

        <!-- Attendance -->
        <div class="attendance-box">
            <h2>Attendance</h2>

            <button onclick="resetAttendance()">Reset</button>

            <table id="table">
                <tr>
                    <th>Name</th>
                    <th>Time</th>
                </tr>
            </table>
        </div>

    </div>

    <script>
        const table = document.getElementById("table");

        function loadAttendance() {
            fetch('/attendance')
                .then(res => res.json())
                .then(data => {

                    table.innerHTML = `
                        <tr>
                            <th>Name</th>
                            <th>Time</th>
                        </tr>
                    `;

                    data.data.forEach(row => {
                        let tr = document.createElement("tr");

                        let name = document.createElement("td");
                        name.innerText = row[0];

                        let time = document.createElement("td");
                        time.innerText = row[1];

                        tr.appendChild(name);
                        tr.appendChild(time);

                        table.appendChild(tr);
                    });
                });
        }

        function resetAttendance() {
            fetch('/reset').then(loadAttendance);
        }

        setInterval(loadAttendance, 2000);
        loadAttendance();
    </script>

</body>
</html>
